.item-head {
  font-size: 19px;

  .header-image {
    float: left;
    border: 3px solid #fff;
    border-radius: 5px;
    width: 60px;
    height: 60px;
  }
  
  .header-title{

    line-height: 25px;

    .item-price {
      font-family: "Arial";
      float: right;
      font-size: 19;
      font-style: normal;
      font-weight: 400;
    }

    .item-title{
      display: inline;
    }

    .b-payment-side{
      float: right;
    }

    .item-subtitle{
      margin-top: 0px;
      margin-bottom: 0px;
      color: #9E9E9E;
    }

    .panel-collapser{
      font-size: 13px;
      color: #CCCED2;
      text-decoration-style: dotted;

      .link-show{
        color: #CCCED2;
        text-decoration: none;
      }

      .link-show:hover{
        color:#e01f2b;
      }
    }

    .ruble {
      font-family: "PT Sans";
      margin-left: 5px;
      float: right;
      font-weight: 400;
      font-size: 19px;
    }
  }
}
